body {
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #ff00003a, #28a745); 
    color: white;
}

header li:hover {
    background: #d1d4d1;
    border-radius: 30px;
    }

header a {
    color: white;
    margin: auto 10px;
}

.hero {
    position: relative;
    height: 70vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./data/techbg.jpg') center/cover no-repeat;
    opacity: 0.8; /* Adjust this value (0 to 1) to control opacity */
    z-index: -1;
}

.category-btn {
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    
}

.category-btn:hover {
    background-color: var(--bs-primary);
    color: white;
}
